In [6]:
import pandas as pd
import FinanceDataReader as fdr

df_krx = fdr.StockListing('KRX')
print(df_krx.head())

     Code        ISU_CD      Name Market Dept   Close ChangeCode  Changes  \
0  005930  KR7005930003      삼성전자  KOSPI        70900          1     1300
1  373220  KR7373220003  LG에너지솔루션  KOSPI       493500          1    91500
2  000660  KR7000660001    SK하이닉스  KOSPI       133000          1     7200
3  207940  KR7207940008  삼성바이오로직스  KOSPI       732000          1    27000
4  005935  KR7005931001     삼성전자우  KOSPI        57200          1      600

   ChagesRatio    Open    High     Low    Volume         Amount  \
0         1.87   69800   70900   69300  22228489  1555019933294
1        22.76  451500  500000  435000   1894906   898455121000
2         5.72  125800  133000  125800   6923192   905341125800
3         3.83  713000  732000  710000     80061    57711239000
4         1.06   57000   57400   56200   1216282    69130154400

            Marcap      Stocks MarketId
0  423257582795000  5969782550      STK
1  115479000000000   234000000      STK
2   96824314545000   728002365      STK
3   52099368000000    71174000      STK
4   47069119240000   822886700      STK

In [7]:
df = fdr.DataReader('005930')
print(df)

             Open   High    Low  Close    Volume    Change
Date
1999-07-20   3460   3560   3419   3420   1030892       NaN
1999-07-21   3370   3380   3160   3330   1186533 -0.026316
1999-07-22   3290   3460   3280   3440   1157303  0.033033
1999-07-23   3400   3400   3000   3120   1180685 -0.093023
1999-07-26   3120   3260   3060   3170   1212761  0.016026
...           ...    ...    ...    ...       ...       ...
2023-10-31  67600  68300  66900  66900  14488892 -0.005944
2023-11-01  67500  68900  67300  68600  13775256  0.025411
2023-11-02  70000  70000  69400  69700  16350031  0.016035
2023-11-03  69700  70200  69500  69600  10322234 -0.001435
2023-11-06  69800  70900  69300  70900  22049882  0.018678

[6000 rows x 6 columns]

In [8]:
df_krx.shape

(2765, 17)

In [9]:
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2765 entries, 0 to 2764
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         2765 non-null   object
 1   ISU_CD       2765 non-null   object
 2   Name         2765 non-null   object
 3   Market       2765 non-null   object
 4   Dept         2765 non-null   object
 5   Close        2765 non-null   object
 6   ChangeCode   2765 non-null   object
 7   Changes      2765 non-null   int64
 8   ChagesRatio  2765 non-null   float64
 9   Open         2765 non-null   int64
 10  High         2765 non-null   int64
 11  Low          2765 non-null   int64
 12  Volume       2765 non-null   int64
 13  Amount       2765 non-null   int64
 14  Marcap       2765 non-null   int64
 15  Stocks       2765 non-null   int64
 16  MarketId     2765 non-null   object
dtypes: float64(1), int64(8), object(8)
memory usage: 367.4+ KB